<%- include("partials/header.ejs") %>

<link rel="stylesheet" href="styles/corral.css">

<div class="corral-container">
    <h1 class="corral-header">★ Corral de <span><%= mascotaNombre%></span> <span><%= pronombre%></span> <span><%= especieDeMascota%></span> ★</h1>
    
    <% if (fondoCorral !== null) { %>
    <div class="corral-escenario" id="corral-escenario"style="background: url(&quot;imagenes_de_corrales/<%= fondoCorral + 1 %>.png&quot;) center center / cover;">
    <% } else { %>
    <div class="corral-escenario" id="corral-escenario">
    <% } %>
       
        <div class="ImagenCompletaContendor" id="mascota">
            <img src="<%= rutaImagen %>" alt="Mascota Virtual" class="mascota" id="mascota">

            <% if (accesorios != null) { %>

                <% for (let i = 0; i < accesorios.length; i++) { %>
                    <img class="Accesorio1 pixeleado" src="imagenes_de_accesorios/<%= accesorios[i].indice + 1 %>.gif" alt="Accesorio">
                <% } %>
        
            <% } %>
        </div>
    </div>
    
    <div class="inventario-secciones ">
        <div class="seccion-inventario scrollGrande">
            <h3 style="text-align: center; margin-bottom: 10px;">✧ Comida ✧</h3>
            <div class="inventario-grid" id="inventario-comida">
                <% items.forEach((item, i) => { %>
                    <% if (item.categoria === "comida") { %>
                <div class="item-inventario" draggable="true" data-tipo="comida" data-id="<%= item.indice %>">
                    <img src="imagenes_de_comidas/<%= item.indice + 1 %>.gif" alt="<%= item.indice %>">
                    <div><p style="font-size: 10px;"><%= comidasFavoritas[item.indice] %></p></div>
                </div>
                    <% } %>
                <% }) %>
            </div>
        </div>
        
        <div class="seccion-inventario scrollGrande">
            <h3 style="text-align: center; margin-bottom: 10px;">✧ Juguetes ✧</h3>

            <div class="inventario-grid" id="inventario-juguetes">
                <% items.forEach((item, i) => { %>
                    <% if (item.categoria === "juguetes") { %>
                        <div class="item-inventario" draggable="true" data-tipo="juguete"  data-id="<%= item.indice %>">
                            <img src="imagenes_de_juguetes/<%= item.indice + 1 %>.gif" alt="<%= item.indice %>">
                            <div><p style="font-size: 10px;"><%= juguetes[item.indice] %></p></div>
                        </div>
                    <% } %>
                <% }) %>
            </div>
        </div>
        
        <div class="seccion-inventario scrollGrande">
            <h3 style="text-align: center; margin-bottom: 10px;">✧ Fondos ✧</h3>
            <div class="inventario-grid" id="inventario-fondos">
                <% items.forEach((item, i) => { %>
                    <% if (item.categoria === "corrales") { %>
                <div class="item-inventario" draggable="true" data-tipo="<%= item.indice + 1%>"  data-id="<%= item.indice %>">
                    <img src="imagenes_de_corrales/<%= item.indice + 1 %>.png" alt="<%= item.indice %>">
                    <div><p style="font-size: 10px;"><%= corralesDisponibles[item.indice] %></p></div>
                </div>
                    <% } %>
                <% }) %>
            </div>
        </div>
    </div>
</div>

<div id="popup-mensaje" style="
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #222;
  color: #fff;
  padding: 12px 16px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.3);
  font-size: 14px;
  display: none;
  z-index: 1000;
  max-width: 300px;
  white-space: pre-wrap;
"></div>


<script src="scripts/corral.js"></script>

<%- include("partials/footer.ejs") %>
