<%- include("partials/header.ejs") %>

<link rel="stylesheet" href="/styles/perfil.css">

<div class="contenedor-perfil">
    <div class="cabecera">
        <div class="info-usuario">
            <div class="biografia-container">
                <h1>★★ <%= usuario %> ★★</h1>
                <h2>Bibliografia:</h2>
                <p><%= descripcion %></p>
                <p>⊱ Membrecía desde: <span><%= fechaMembresia %></span></p>
                <p>✧ Numero de publicaciones: <span><%= totalPublicaciones %></span></p>
                <h2>Rangos:</h2>
                <div class="rango-item"><span class="rango-etiqueta">✩ Rango Principal:</span> <span class="rango-valor"><%= rango1 %></span></div>
                <div class="rango-item"><span class="rango-etiqueta">✩ Rango Secundario:</span> <span class="rango-valor"><%= rango2 %></span></div>
                <div class="rango-item"><span class="rango-etiqueta">✩ Rango Especial:</span> <span class="rango-valor"><%= rango3 %></span></div>
            </div>
        </div>
    </div>

    <div class="seccion-mascota">
        <div class="esquina-pixel esquina-pixel-si"></div>
        <div class="esquina-pixel esquina-pixel-sd"></div>
        <div class="esquina-pixel esquina-pixel-ii"></div>
        <div class="esquina-pixel esquina-pixel-id"></div>

        <h2>★★ <span><%= mascotaNombre%></span> <span><%= pronombre%></span> <span><%= especieDeMascota%></span> ★★</h2>
        <div class="contenedor-mascota">

            <div class="ImagenCompletaContendor">
                <img src="<%= rutaImagen %>" alt="Mascota Virtual" class="pixeleado imagen-mascota">

                <% if (accesorios != null) { %>
                    <% for (let i = 0; i < accesorios.length; i++) { %>
                        <img class="Accesorio1 pixeleado" src="/imagenes_de_accesorios/<%= accesorios[i].indice +1 %>.gif" alt="Accesorio">
                    <% } %>
                <% } %>
            </div>

            <div class="estadisticas-mascota">
                <h3>✧ Estadística de tu Mascota ✧</h3>
                <div class="etiqueta-estadistica">
                    <span>Felicidad</span>
                    <span> <%= nivelFelicidad %>%</span>
                </div>
                <div class="barra-progreso">
                    <div class="progreso" style="width: <%= nivelFelicidad %>%;"></div>
                </div>

                <div class="etiqueta-estadistica">
                    <span>Energía</span>
                    <span> <%= nivelEnergia %>%</span>
                </div>
                <div class="barra-progreso">
                    <div class="progreso" style="width: <%= nivelEnergia %>%;"></div>
                </div>

                <p>✧ Nivel de Amor: <span> <%= nivelAmor %></span></p>
                <p>✧ Habilidad Especial: * <span><%= habilidadesEspeciales %></span> *</p>
                <p>✧ Comida Favorita: ⊱ <span><%= comidaFavorita %></span> ⊰</p>
            </div>
        </div>
    </div>
</div>

<%- include("partials/footer.ejs") %>
